<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.waterplant_webapp.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewStockServlet</servlet-name>
  	<display-name>ViewStockServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.waterplant_webapp.controller.ViewStockServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.waterplant_webapp.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.waterplant_webapp.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStockServlet</servlet-name>
  	<display-name>UpdateStockServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.waterplant_webapp.controller.UpdateStockServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderCanServlet</servlet-name>
  	<display-name>OrderCanServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.waterplant_webapp.controller.OrderCanServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReserveCanServlet</servlet-name>
  	<display-name>ReserveCanServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.waterplant_webapp.controller.ReserveCanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewStockServlet</servlet-name>
  	<url-pattern>/ViewStockServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStockServlet</servlet-name>
  	<url-pattern>/UpdateStockServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderCanServlet</servlet-name>
  	<url-pattern>/OrderCanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReserveCanServlet</servlet-name>
  	<url-pattern>/ReserveCanServlet</url-pattern>
  </servlet-mapping>
</web-app>
